version: '3.8'

services:
  redis:
    image: redis:latest@sha256:7b6fb55d8b0adcd77269dc52b3cfffe5f59ca5d43dec3c90dbe18aacce7942e1
    container_name: redis
    ports:
      - "6379:6379"
  unixbot:
    image: unixbot
    ports:
      - "8000:8000"
    container_name: unixbot
    volumes:
      - ./config.ini:/app/config.ini
    depends_on:
      - redis